!Colorscheme based on jellebeans colorscheme for vim
!Regular colors are true to original, brights are mostly saturation increases
!!BLK Cursor
*color0 : #000000
*color8 : #000000
!!!RED Tag
*color1 : #cf6a4c
*color9 : #dc3a13
!!GRN SpecialKey
*color2 : #99ad6a
*color10 : #9dca32
!!YEL Keyword
*color3 : #dad085
*color11 : #f5d90b
!!BLU Number
*color4 : #668799
*color12 : #006399
!!MAG Precondit
*color5 : #f0a0c0
*color13 : #f03b84
!!CYN Float
*color6 : #8bcbe8
*color14 : #00afff
!!WHT Search
*color7 : #e8e8d3
*color15 : #ffffff
!!TXT Normal, Normal, Cursor
*background : #151515
*foreground : #e8e8d3
*cursorColor : #b0d0f0

URxvt.letterSpace: 1
URxvt.scrollstyle: plain
URxvt.saveLines: 20000
!borderLess needs to be off for xmonad to not go nuts
URxvt.borderLess: false
URxvt.depth: 32
URxvt.buffered: true
!URxvt.background is set below, and is using a transparency value
!These do not require compositing, (Native Transparency)
URxvt.transparent: false
URxvt.shading: 10
URxvt.blurRadius: 5
URxvt.cursorBlink: true
URxvt.pointerBlank: true
